---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
{% include head.html %}


<body>
  <main>
    {% include anchor_headings.html html=content anchorBody="#" %}
  </main>

  

  <script>
    document.documentElement.setAttribute('data-theme', 'light');
  </script>


<footer class="social-footer">
  <p>{{ site.author.name }} || {{ site.author.username }}</p>
  <a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a>
  <div class="social-footer-icons">
    <a href="{{ site.author.github}}" title="Github!" target="_blank"
      rel="noopener noreferrer"><i class="fa fa-github" aria-hidden="true"></i></a>
    <a href="{{ site.repo }}" title="Browse the code!" target="_blank" rel="noopener noreferrer"><i
        class="fa fa-code" aria-hidden="true"></i></a>
    <a href="{{site.author.twitter}}" title="Twitter!" target="_blank" rel="noopener noreferrer"><i
        class="fa fa-twitter" aria-hidden="true"></i></a>
    <a href="{{site.author.linkedIn}}" title="Linked In!" target="_blank" rel="noopener noreferrer"><i
      class="fa fa-linkedin" aria-hidden="true"></i></a>
    <a href="{{site.author.mastodon}}" title="Mastodon!" rel="me"><i class="fa-brands fa-mastodon">M</i></a>
  </div>
</footer>
</body>

</html>
